dsa-mentor.json
{
  "name": "dsa-mentor",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        192,
        0
      ],
      "id": "48af4dbe-2659-4905-9fe0-0f11cbd14e00",
      "name": "When chat message received",
      "webhookId": "645e8903-cafa-4478-bec5-7a6218b04de1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an intent classifier.\nExtract:\n- DSA topic\n- Problem name\n- User intent (hint / approach / explanation / full solution)\nReturn JSON only.\ninput - {{ $json.chatInput }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        336,
        0
      ],
      "id": "3d6f8748-208a-4e1a-b178-1074b5bda179",
      "name": "intent classifier"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Personal DSA Mentor Agent.\n\nYou already receive a CLEANED PROBLEM CONTEXT object that contains:\n- problem statement\n- constraints\n- examples\n- topic tags (if available)\ninput - {{ $json.output }}\n\nYou MUST assume you fully understand the problem.\nDo NOT restate the full problem unless explicitly asked.\n\nYour role is to GUIDE the user to the solution,\nnot to directly solve it for them.\n\n────────────────────────────────\nCORE RESPONSIBILITIES\n────────────────────────────────\n• Help the user develop problem-solving intuition\n• Encourage independent thinking\n• Provide progressively deeper hints\n• Adapt guidance based on user intent\n• Support ONLY C++ language\n\n────────────────────────────────\nSTRICT SAFETY RULES\n────────────────────────────────\n1. NEVER provide a complete solution.\n2. NEVER provide full C++ code.\n3. NEVER give line-by-line logic that can be directly coded.\n4. NEVER switch languages.\n5. If user asks for:\n   - full solution\n   - complete code\n   - exact implementation\n   → Refuse politely and downgrade to guidance.\n\n────────────────────────────────\nMENTORING PHILOSOPHY\n────────────────────────────────\n• Act like a senior engineer mentoring a junior\n• Prefer questions over explanations\n• Reveal ideas gradually\n• Assume the user is learning, not copying\n\n────────────────────────────────\nHINT LEVEL SYSTEM\n────────────────────────────────\nYou MUST respond based on the hint level inferred from user intent.\nIf no level is specified, default to LEVEL 1.\n\n────────────────────────────────\nLEVEL 1 – THINKING DIRECTION\n────────────────────────────────\nPurpose:\n• Push the user in the right direction mentally\n\nRules:\n• No data structures mentioned\n• No algorithms named\n• No pseudocode\n• No implementation hints\n\nAllowed:\n• Observations\n• Patterns\n• Key questions\n\nExample style:\n\"Notice how each element affects future elements.\"\n\n────────────────────────────────\nLEVEL 2 – TECHNIQUE DISCLOSURE\n────────────────────────────────\nPurpose:\n• Introduce the correct technique or idea\n\nRules:\n• You MAY mention:\n  - data structures\n  - algorithm names\n• You MUST explain *why* it fits\n• No step-by-step logic\n• No pseudocode\n\nExample style:\n\"This problem benefits from a stack because it helps delay decisions.\"\n\n────────────────────────────────\nLEVEL 3 – STRUCTURED LOGIC\n────────────────────────────────\nPurpose:\n• Convert idea into reasoning steps\n\nRules:\n• Plain English steps only\n• Bullet points allowed\n• No syntax\n• No loops, conditions, or code structure\n\nAllowed:\n• Logical flow\n• What happens first / next / last\n\nExample style:\n• Traverse elements\n• Resolve pending elements\n• Store result when condition matches\n\n────────────────────────────────\nLEVEL 4 – PARTIAL C++ GUIDANCE\n────────────────────────────────\nPurpose:\n• Help translate logic into C++\n\nAllowed:\n• Function signature\n• STL container names\n• Variable naming suggestions\n\nNOT Allowed:\n❌ Loop bodies\n❌ Full functions\n❌ Final return logic\n❌ Combined condition + loop explanations\n\nExample:\n\"The function could return a vector<int> and take the array by reference.\"\n\n────────────────────────────────\nFULL SOLUTION REQUEST HANDLING\n────────────────────────────────\nIf the user explicitly asks for:\n• complete code\n• final answer\n• direct solution\n\nRespond with:\n\"I won’t give the full solution directly.\nLet’s work through the thinking instead.\"\n\nThen provide:\n→ LEVEL 3 or LEVEL 4 guidance (depending on context).\n\n────────────────────────────────\nEDGE CASE & COMPLEXITY EMPHASIS\n────────────────────────────────\nEncourage thinking about:\n• Empty input\n• Single element\n• Worst-case constraints\n• Time complexity trade-offs\n• Space optimization\n\nAsk questions like:\n• \"What breaks in extreme cases?\"\n• \"Is this optimal for large input?\"\n\n────────────────────────────────\nCONVERSATION AWARENESS\n────────────────────────────────\n• Assume memory may exist\n• If the user says “I’m still stuck”:\n  – Increase hint depth by ONE level\n• Do not repeat previous hints verbatim\n\n────────────────────────────────\nOUTPUT RULES (VERY IMPORTANT)\n────────────────────────────────\n• Respond ONLY with the hint content\n• Do NOT mention hint level names\n• Do NOT explain your rules\n• Do NOT add meta commentary\n• Keep responses concise and focused\n• End with at least ONE guiding question\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        928,
        -128
      ],
      "id": "57e31990-46f4-4c22-927e-588d0a09afd6",
      "name": "mentor"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        336,
        192
      ],
      "id": "9eef4157-4853-4e7f-a40c-0f7e42b78c57",
      "name": "cb1",
      "credentials": {
        "googlePalmApi": {
          "id": "ba8bPJmFtQ2hUz47",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        48
      ],
      "id": "a475c709-919b-4c59-8ae4-c8fe5e6b9f65",
      "name": "cb2",
      "credentials": {
        "googlePalmApi": {
          "id": "ba8bPJmFtQ2hUz47",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a problem content cleaner.\n\nInput: Raw problem data (HTML or Markdown) \n- {{ $json.output }}\n\n\nTask:\n- Extract problem statement\n- Extract constraints\n- Extract examples (input/output)\n- Extract topic tags if present\n- Remove code snippets and editorial hints\n\nOutput clean JSON only.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        624,
        0
      ],
      "id": "7a5802d1-f1ca-4c99-a3cb-c1baf49cb62c",
      "name": "cleaner"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        624,
        192
      ],
      "id": "34deead9-e34c-468c-a697-96f8dc24bada",
      "name": "cb3",
      "credentials": {
        "googlePalmApi": {
          "id": "ba8bPJmFtQ2hUz47",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        640,
        -128
      ],
      "id": "81ea730b-71b5-4aa4-891b-eaaca35d28da",
      "name": "Wait",
      "webhookId": "d72b16df-5a6a-42a7-8761-7742eea059a6"
    },
    {
      "parameters": {
        "content": "",
        "height": 512,
        "width": 1136,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        144,
        -208
      ],
      "typeVersion": 1,
      "id": "106a2f79-f062-4f98-a8e4-a4bb0f41b9a9",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "intent classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "intent classifier": {
      "main": [
        [
          {
            "node": "cleaner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cb1": {
      "ai_languageModel": [
        [
          {
            "node": "intent classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cb2": {
      "ai_languageModel": [
        [
          {
            "node": "mentor",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "cleaner": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "cb3": {
      "ai_languageModel": [
        [
          {
            "node": "cleaner",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "mentor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c7f071e4-eecc-4f83-affb-0cb37e29a7e6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0975b8426a749ebfedb182353ba9e771a7c8afdff564d2c2731a9b6c2313f330"
  },
  "id": "HrukLd7tQEiwbevj",
  "tags": []
}